.dragVisual {
  display: flex;
  align-items: baseline;
}

.dragVisual::before {
  content: "👊";
  font-size: 16px;
  margin-right: 10px;
}

.dragVisual-paragraph {
  font-weight: 700;
}

.dragVisual-paragraph::before {
  opacity: 0;
  content: "🖐️";
  font-size: 16px;
  margin-right: 10px;
}

.dragVisual:hover .dragVisual-paragraph::before {
  cursor: pointer;
  opacity: 1;
}
