.examples_container {
  background-color: #1c1c24;
  width: 750px;
  padding: 30px;
  margin: 10rem auto 10rem auto;
  border-radius: 10px;
}

.examples_group {
  counter-reset: ordered-list;
}

.examples_block {
}

.examples_body {
}

.examples_content {
  display: flex;
  align-items: center;
  gap: 16px;
}

div[data-type="unordered-listItem"]::before {
  content: "•";
  color: #c5cdd5;
  font-size: 16px;
}

div[data-type="ordered-listItem"] {
  counter-increment: ordered-list;
}

div[data-type="ordered-listItem"]::before {
  content: counter(ordered-list) ".";
  color: #c5cdd5;
  font-size: 16px;
  font-weight: 500;
}

.examples_group .examples_group {
  margin-left: 20px;
}

.examples_group .examples_group .examples_group {
  margin-left: 20px;
}
