*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #21222b;
  background-color: #c5cdd5;
  font-family: monospace;
}

.ProseMirror {
  white-space: pre-wrap;
}

.app-page > * {
  margin: auto;
  width: 700px;
}

.app-page > *:first-child {
  margin-top: 50px;
  margin-bottom: 30px;
}

p,
button,
input,
::marker {
  font-size: 16px;
}

h1 {
  font-size: 32px;
}

div[data-node-type="block"] {
  font-size: 16px;
  line-height: 32px;
}

div[data-node-type="group"] > div[data-node-type="block"] {
  margin-left: 24px;
}

div[data-node-type="paragraph"] {
  font-size: 16px;
}
