*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #21222b;
  background-color: #c5cdd5;
  /* color: #c5cdd5;
  background-color: #21222b; */
  font-family: monospace;
}

.ProseMirror {
  white-space: pre-wrap;
}

.app-page > * {
  margin: auto;
  width: 700px;
}

.app-page > *:first-child {
  margin-top: 50px;
  margin-bottom: 30px;
}

p,
button,
input,
::marker {
  font-size: 16px;
}

h1 {
  font-size: 32px;
}

div[data-node-type="block"] {
  font-size: 16px;
  line-height: 32px;
}

div[data-node-type="group"] > div[data-node-type="block"] {
  margin-left: 24px;
}

div[data-node-type="paragraph"] {
  font-size: 16px;
}

div[data-indent-level="1"] {
  margin-left: 24px;
}

div[data-indent-level="2"] {
  margin-left: 48px;
}

div[data-indent-level="3"] {
  margin-left: 72px;
}

div[data-indent-level="4"] {
  margin-left: 96px;
}

div[data-indent-level="5"] {
  margin-left: 120px;
}

div[data-indent-level="6"] {
  margin-left: 144px;
}

div[data-indent-level="7"] {
  margin-left: 168px;
}

div[data-content-type="bulletList"] > p::before {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

div[data-indent-level="0"] > div[data-content-type="bulletList"] > p::before,
div[data-indent-level="3"] > div[data-content-type="bulletList"] > p::before,
div[data-indent-level="6"] > div[data-content-type="bulletList"] > p::before {
  content: "•";
  font-size: 20px;
}

div[data-indent-level="1"] > div[data-content-type="bulletList"] > p::before,
div[data-indent-level="4"] > div[data-content-type="bulletList"] > p::before,
div[data-indent-level="7"] > div[data-content-type="bulletList"] > p::before {
  content: "⚬";
  font-size: 20px;
  top: -2px;
}

div[data-indent-level="2"] > div[data-content-type="bulletList"] > p::before,
div[data-indent-level="5"] > div[data-content-type="bulletList"] > p::before,
div[data-indent-level="8"] > div[data-content-type="bulletList"] > p::before {
  content: "▪";
  font-size: 16px;
  top: -2px;
}

.block.is-empty::before,
.block.is-editor-empty::before {
  color: #595b5d;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  position: relative;
}
